{% macro generate(obj, path="") -%}
{%- for key, value in obj.items() -%}
  {%- if value is mapping -%}
    {{ generate(value, path + key + ".") }}
  {%- else -%}
    {{' '}}--{{ path }}{{ key }}={{ value }}
  {%- endif -%}
{%- endfor -%}
{%- endmacro -%}

OPTIONS='{{ generate(data) }}'
